@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

.general-write-post-div {
    @include flex(center, center, column);
    width: $twenty-percent;
    height: $ten-percent;
    @extend %console;
    .write-post-textarea-div {
        textarea {
            width: $nineteen-percent;
            height: $eight-percent;
            background-color: $charcoal;
            color: $pristine-white;
            border-radius: $one-percent;
            padding: $one-percent;
            margin: $one-percent $zero $half-percent $zero;
            resize: none;
        }
    }
}