@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

profile-name {
    background-color: $charcoal;
    border: $thin-border solid $alabaster-stone;
    border-radius: $quarter-percent;
    padding: $quarter-percent $half-percent;
    text-align: center;
    margin: $half-percent $half-percent $half-percent calc($half-percent + $half-percent);
    @include flex(center, center, row);
    .profile-name-headline-text {
        color: $pristine-white;
    }
    .profile-name {
        @include basic-margin-padding(0, 0);
        text-align: center;
    }
}