@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

//==================================-Styles-==================================

//-------------------------Choose-Auth-Type-Selection-------------------------
auth-type-selector {
    @include flex(center, center, row);
    width: 100%;
}
.choose-auth-type-section {
    margin: $one-half-percent 0 0 0;
    @include flex(space-around, center, row);
    width: 60%;
}
//-----------------------------Auth-Input-Section-----------------------------
#auth-input-section {
    //@extend %console;
    #login-div {
        display: none;
    }
    .console-popup-and-confirm-div {
        justify-content: flex-end;
    }
    #popup-div {
        @extend %console;
        color: $pristine-white;
        text-align: center;
        display: none;
    }
}