//=================================-Imports-==================================
@import "../../styles/global-variables";
@import "../../styles/global-mixins";
@import "../../styles/global-functions";
@import "../../styles/global-placeholders";
//==================================-Styles-==================================

//----------------------------General-Text-Content----------------------------
h1 {
    font-size: $h1-font-size;
    @include basic-margin-padding(0, 0);
}
h2 {
    font-size: $h2-font-size;
    @include basic-margin-padding(0, 0);
}
h3 {
    font-size: $h3-font-size;
    @include basic-margin-padding(0, 0);
}
h4 {
    font-size: $h4-font-size;
    @include basic-margin-padding(0, 0);
}
h5 {
    font-size: $h5-font-size;
    @include basic-margin-padding(0, 0);
}
h6 {
    font-size: $h6-font-size;
    @include basic-margin-padding(0, 0);
}
p {
    font-size: $p-font-size;
    @include basic-margin-padding(0, 0);
}
span {
    font-size: $p-font-size;
    @include basic-margin-padding(0, 0);
}
code {

}
body {
    @include flex(center, center, column);
    @include square-size(100%);
    @include basic-margin-padding(0, 0);
    min-height: 100vh;
    app {
        width: 100%;
        @include flex(center, center, column);
        @include basic-margin-padding(0, 0);
        min-height: 100vh;
        //max-height: 100vh;
        background: radial-gradient(at center, $charcoal 70%, $absolute-black);
        font-family: $jetbrains-mono-font;
        overflow: auto;
        //flex-grow: 1;
        main {
            width: 100%;
            flex: 1;
            @include flex(center, center, column);
        }
        .scroll-container {
            @include flex(flex-start, flex-start, column);
            @extend %nav-bar-padding-top;
            width: 100%;
            overflow: scroll;
            height: auto;
            flex: 1;
        }
        authorize, home, profile {
            width: 100%;
            box-sizing: border-box;
            flex: 1;
        }
    }
}
aside {

}
article {

}
.hidden {
    display: none;
}
//--------------------------------Hover-Styles--------------------------------
.general-hover {
    transition: color, background-color, 0.15s;
    &:hover {
        color: $charcoal;
        background-color: $pristine-white;
        cursor: pointer;
    }
    &:active {
        color: $pristine-white;
        background-color: $charcoal;
        cursor: pointer;
    }
}
//-------------------------------Select-Styles--------------------------------
.general-select {
    border-radius: $quarter-percent;
    border: $thinnest-border solid $alabaster-stone;
    padding: $quarter-percent;
}
//-----------------------------------Inputs-----------------------------------
.general-input {
    //border-radius: $quarter-percent;
    //border: $thinnest-border solid $charcoal;
    //background-color: $tangerine;
    border: none;
    width: $ten-percent;
    font-family: $source-code-font;
    font-size: $p-font-size;
    color: $pure-orange;
    border-bottom: $thin-border solid $alabaster-stone;
    background-color: $charcoal;
    flex: 1;
    padding: $zero $one-percent;
    //border-radius: $one-percent;
    &:focus {
        border-radius: $one-percent;
    }
}
//---------------------------------Scroll-Bar---------------------------------
::-webkit-scrollbar {
    width: $half-percent;
    height: 75%;
    background: $alabaster-stone;
    border-radius: $one-percent;
}
::-webkit-scrollbar-thumb {
    background-color: $charcoal;
    border-radius: $one-percent;
    border: $thinnest-border solid $alabaster-stone;
    &:active {
        border: $thin-border solid $alabaster-stone;
    }
}
//-----------------------------------Icons------------------------------------
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
//-------------------------------Content-Boxes--------------------------------
.content-box {
    @include flex(center, center, column);
    width: $twenty-percent;
    @extend %console;
    margin: $one-percent $zero;
    p {
        color: $pristine-white;
        font-size: $p-font-size;
        //@extend %indented-text;
    }
}
//---------------------------------Hyperlinks---------------------------------
.link-no-style {
    text-decoration: inherit;
    color: inherit;
}
.hyperlink {
    color: $apricot-glow;
    //color: $bright-sunset;
    text-decoration: underline;
    text-decoration-color: $sandstone;
    text-underline-offset: calc($eighth-percent * 0.75);
    &:hover {
        cursor: pointer;
    }
}
//----------------------------------Buttons-----------------------------------
.general-button {
    color: $pristine-white;
    background-color: $charcoal;
    transition: color, background-color, 0.15s;
    margin: $eighth-percent;
    padding: $sixteenth-percent;
    user-select: none;
    &:hover {
        color: $charcoal;
        background-color: $pristine-white;
        cursor: pointer;
    }
    &:active {
        color: $pristine-white;
        background-color: $charcoal;
        cursor: pointer;
    }
}
textarea {
    color: $pure-orange;
    font-family: $source-code-font;
    font-size: $smaller-p-font-size;
    background-color: $charcoal;
    border-radius: $one-percent;
    padding: $one-percent;
}
//-----------------------------------Posts------------------------------------
.general-project-post {
    @extend .content-box;
    hr {
        width: 90%;
        margin: $half-percent $zero;
        @extend %console-box-shadow;
    }
    .comments-div {
        @include flex(center, center, column);
        .comment-div {
            margin: $half-percent 0;
            .commenter-name-div {
                @include flex(center, center, row);
                margin: $quarter-percent 0;
                h5, span {
                    font-size: $h6-font-size;
                }
            }
        }
        .comment-info-div {
            //align-self: flex-end;
            //justify-self: flex-end;
            .date-posted-div {
                p {
                    font-style: italic;
                    text-align: right;
                }
            }
        }
    }
}
//------------------------------Text-Type-Styles------------------------------
.being-typed::after {
    text-decoration: none;
    content: "_";
}
.typing-completed::after {
    content: "";
}

//==============================-Media-Queries-===============================

//-------------------------Width-500-Pixels-And-Below-------------------------
@media screen and (max-width: 500px) {
    header {
        nav {
            width: 70%;
        }
    }
}