@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";
@import "../../../app/app.component";

console-input {
    width: 100%;
    margin: $eighth-percent 0;
    .console-input-title-field {
        width: 100%;
        @include flex(center, center, row);
        .console-title-field {
            margin-right: $one-percent;
            flex: 1;
        }
        .console-input-div {
            flex: 1;
            width: 100%;
            .console-input {
                @extend .general-input;
                width: 100%;
            }
        }
    }
    ss-img {
        @include square-size($two-percent);
        &.selected {
            border: $thin-border solid $pure-orange;
            border-radius: $one-percent;
        }
    }
}