@import "../../../../../style/global-variables";
@import "../../../../../style/global-mixins";
@import "../../../../../style/global-functions";
@import "../../../../../style/global-placeholders";

profile-headline-buttons {
    @include flex(space-around, center, row);
    margin: $one-percent 0 0 0;
    .profile-button {
        padding: $eighth-percent;
        border-radius: calc($quarter-percent * 0.9);
    }
}