@import "global-variables";
@import "global-mixins";
@import "global-functions";

%console {
    border-radius: $one-percent;
    border: $thinnest-border solid $alabaster-stone;
    background-color: $charcoal;
    box-shadow: $absolute-black $quarter-percent $quarter-percent 0 0;
    padding: $one-percent;
}
%indented-text {
    text-indent: $two-percent;
}
%selected-auth {
    background-color: $apricot-glow;
    border: $thin-border solid $alabaster-stone;
    box-shadow: $absolute-black $quarter-percent $quarter-percent 0 0;
}
%console-box-shadow {
    box-shadow: $absolute-black $quarter-percent $quarter-percent 0 0;
}