@import "global-variables";
@import "global-mixins";
@import "global-functions";

#introduction-section {
    width: 100%;
    margin: $one-half-percent $zero $zero $zero;
    color: $pristine-white;
    @include flex(center, center, column);
    #title-div {
        width: 70%;
        border-radius: $one-percent;
        margin: $zero $zero $one-half-percent $zero;
        @include flex(center, center, row);
        padding: $one-percent $two-percent;
        background-color: $apricot-glow;
        #title-text {
            text-align: center;
            text-decoration: underline;
            color: $charcoal;
        }
        .blinking-cursor {
            font-size: $h2-font-size;
            animation: blink 1s infinite;
        }

        .title-curly-brace {
            text-decoration: none;
            font-size: $h1-font-size;
            color: $charcoal;
        }
    }
    #logo-with-text {
        @include flex(center, center, row);
        width: 100%;
        #intro-logo-div {
            margin: $zero $three-percent;
            @include size($twelve-percent, $twelve-percent);
            @include flex(center, center, row);

            border-radius: $one-percent;
            img {
                border-radius: inherit;
                @include size(100%, 100%);
            }
        }
        #intro-text-div {
            width: 50%;
            @include flex(center, center, column);
            #intro-headline-div {
                margin: $zero $zero $one-percent $zero;
            }
            p {

            }
        }
    }
}
#join-section {
    width: 100%;
    margin: $one-half-percent $zero;
    color: $pristine-white;
    @include flex(center, center, column);
    #join-console {
        box-shadow: $absolute-black $quarter-percent $quarter-percent 0 0;
        width: auto;
        padding: $one-percent;
        border: $thin-border solid $alabaster-stone;
        border-radius: $one-percent;
        .join-input-title-field {
            @include flex(center, center, row);
            .join-title-field {
                margin-right: $one-percent;
                flex: 1;
            }
            .join-input {
                width: $fifteen-percent;
                font-family: $source-code-font;
                color: $pure-orange;
                border-bottom: $thin-border solid $alabaster-stone;
                background-color: $charcoal;
                flex: 1;
                padding: $zero $one-percent;
            }
        }
        #popup-and-confirm-div {
            margin: $half-percent $zero $zero $zero;
            @include flex(flex-end, center, row);
            #popup-div {
                display: none;
            }
        }
    }
    #message-popup-console {
        display: none;
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media screen and (max-width: 751px) {
    #introduction-section {
        #title-div {
            #title-text {
                //font-size: $h2-font-size;
            }
        }
    }
    #title-blinking-cursor {
        display: none;
    }
}