@import "global-variables";
@import "global-mixins";
@import "global-functions";
@import "global-placeholders";

#headline-section {
    @include flex(center, center, row);
    background-image: url("../image/alt_default_banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: $one-percent 0;
    margin: $one-percent 0;
    #profile-picture-with-name {
        margin: $half-percent 0 0 0;
        @include flex(center, center, column);
        #profile-picture-div {
            @include flex(center, center, row);
            @include size($twelve-percent, $twelve-percent);
            border-radius: $one-half-percent;
            border: $thin-border solid $sandstone;
            #profile-picture-img {
                @include size(100%, 100%);
                border-radius: inherit;
                background-color: $absolute-black;
            }
        }
        #profile-name-and-bio-div {
            @include flex(center, center, column);
            #profile-name {
                background-color: $charcoal;
                border-radius: $quarter-percent;
                padding: $quarter-percent $half-percent;
                text-align: center;
                margin: $half-percent $half-percent $half-percent calc($half-percent + $half-percent);
                @include flex(center, center, row);
                .profile-name-headline-text {
                    color: $pristine-white;
                }
                #profile-first-name {
                    margin-right: $half-percent;
                }
                .profile-name {
                    @include basic-margin-padding(0, 0);
                    text-align: center;
                }
            }
            #profile-bio {
                background-color: $apricot-glow;
                border-radius: $one-percent;
                padding: $half-percent $one-percent;
                #profile-bio-text {
                    //color: $pure-orange;
                    color: $charcoal;
                }
            }
        }
    }
}
#activity-section {
    #activity-title-div {
        @include flex(center, center, row);
        margin: $one-percent 0;
        #activity-title-text {
            color: $pristine-white;
        }
    }
}
#write-post-section {
    #write-post-div {
        @include flex(center, center, column);
        width: $fifteen-percent;
        height: $ten-percent;
        @extend %console;
        textarea {
            width: $fourteen-percent;
            height: $six-percent;
            background-color: $charcoal;
            color: $pristine-white;
            border-radius: $one-percent;
            padding: $one-percent;
            margin: $one-percent $zero;
            resize: none;
        }
        #write-post-button-div {
            align-self: flex-end;
            margin-bottom: $half-percent;
        }
    }
}