@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

welcome-banner {
    @include flex(center, center, column);
    margin: $two-percent $zero;
    color: $pristine-white;
    background-color: $tangerine;
    padding: $one-percent;
    border-radius: $one-percent;
    .welcome-subtext-div {
        padding: $half-percent;
        background-color: $charcoal;
        border-radius: $one-percent;
        color: $pristine-white;
    }
    > div {
        @include flex(center, center, column);
    }
}