@import "../../../../../styles/global-variables";
@import "../../../../../styles/global-mixins";
@import "../../../../../styles/global-functions";
@import "../../../../../styles/global-placeholders";

general-post-header {
    width: 100%;
    @include flex(center, center, row);
    .post-name-profile-picture-div {
        width: 100%;
        @include flex(flex-start, center, row);
    }
    ss-img {
        @include square-size($two-percent);
        margin-right: $one-percent;
    }
}