<side-nav-bar></side-nav-bar>
<main>
    <!--------------------------Message-Section------------------------------>
    <section id="message-section">
        <!-- TODO: Conversations with multiple people will have their pictures
                   staggered behind one another with the beginning names as
                   text. -->
        <!--------------------Connections-Section---------------------------->
        <section id="connections-section">
            <!-- TODO: Add a compose button icon to send a new message with no
                       history. -->
            <div id="connections-title-div">
                <h5 id="connections-title-text">Connections</h5>
            </div>
            <hr />
            <!-----------------Connections-List------------------------------>
            <div id="connections-list-div">
                <div class="connection-item" id="add-conversation-button">
                    <div class="connection-img-div">
                        <img class="connection-img" src="../../../../angular/assets/images/icon/add_icon.svg" alt="Default Avatar"
                             th:src="@{/angular/assets/images/icon/add_icon.svg}">
                    </div>
                </div>
                <div class="connection-item connection">
                    <div class="connection-img-div">
                        <img class="connection-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Default Avatar"
                             th:src="@{/angular/assets/images/icon/default_avatar.svg}">
                    </div>
                    <div class="connection-name-div">
                        <h6 class="connection-name-text">John Doe</h6>
                    </div>
                </div>
                <div class="connection-item connection">
                    <div class="connection-img-div">
                        <img class="connection-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Default Avatar"
                             th:src="@{/angular/assets/images/icon/default_avatar.svg}">
                    </div>
                    <div class="connection-name-div connection">
                        <h6 class="connection-name-text">Mary Stevens</h6>
                    </div>
                </div>
                <div class="connection-item connection">
                    <div class="connection-img-div">
                        <img class="connection-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Default Avatar"
                             th:src="@{/angular/assets/images/icon/default_avatar.svg}">
                    </div>
                    <div class="connection-name-div">
                        <h6 class="connection-name-text">Stephan Dumorier</h6>
                    </div>
                </div>

                <div id="new-connection-list">
                    <div class="connection-item potential-connection">
                        <div class="connection-img-div">
                            <img class="connection-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Default Avatar"
                                 th:src="@{/angular/assets/images/icon/default_avatar.svg}">
                        </div>
                        <div class="connection-name-div">
                            <h6 class="connection-name-text">Mike Delahouse</h6>
                        </div>
                    </div>
                    <div class="connection-item potential-connection">
                        <div class="connection-img-div">
                            <img class="connection-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Default Avatar"
                                 th:src="@{/angular/assets/images/icon/default_avatar.svg}">
                        </div>
                        <div class="connection-name-div">
                            <h6 class="connection-name-text">Anita Baraboda</h6>
                        </div>
                    </div>
                    <div class="connection-item potential-connection">
                        <div class="connection-img-div">
                            <img class="connection-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Default Avatar"
                                 th:src="@{/angular/assets/images/icon/default_avatar.svg}">
                        </div>
                        <div class="connection-name-div">
                            <h6 class="connection-name-text">Tommy Thomson</h6>
                        </div>
                    </div>
                    <div class="connection-item" id="create-conversation-button">
                        <div class="connection-img-div">
                            <img class="connection-img" src="../../../../angular/assets/images/icon/confirm_icon.svg" alt="Default Avatar"
                                 th:src="@{/angular/assets/images/icon/confirm_icon.svg}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---------------------Messages-Section------------------------------>
        <section id="messages-section">
            <div id="messages-title-div">
                <h5 id="messages-title-text">Messages</h5>
            </div>
            <hr />
            <!-------------------Messaging-Div------------------------------->
            <div id="messaging-div">
                <!---------------User-Messages------------------------------->
                <div id="user-messages">
                    <div class="message-item">
                        <div class="message-headline">
                            <div class="image-with-name-div">
                                <div class="message-img-div">
                                    <img class="message-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Default Avatar"
                                         th:src="@{/angular/assets/images/icon/default_avatar.svg}">
                                </div>
                                <div class="message-name-div">
                                    <h6 class="message-name-text">John Doe</h6>
                                </div>
                            </div>
                            <div class="message-time-div">
                                <p class="message-time-text">12:00 PM</p>
                            </div>
                        </div>
                        <div class="message-content">
                            <p class="message-content-text">
                                Yo Mista White. I see you got the semicolons
                                bitch. Finally, you stopped the errors, like,
                                computationally. That's like, science, Mista
                                White.
                            </p>
                        </div>
                    </div>
                    <div class="message-item">
                        <div class="message-headline">
                            <div class="image-with-name-div">
                                <div class="message-img-div">
                                    <img class="message-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Default Avatar"
                                         th:src="@{/angular/assets/images/icon/default_avatar.svg}">
                                </div>
                                <div class="message-name-div">
                                    <h6 class="message-name-text">John Doe</h6>
                                </div>
                            </div>
                            <div class="message-time-div">
                                <p class="message-time-text">1:07 PM</p>
                            </div>
                        </div>
                        <div class="message-content">
                            <p class="message-content-text">
                                Hi, my name is John. I am a software developer
                                from the United States. I am interested in
                                scamming you. Are you interested? Perhaps we
                                should discuss a reverse mortgage opportunity
                                to greatly increase my own wealth. Think about
                                it.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="user-message-div">
                    <!-- TODO: Insert a textarea that is locked in size. -->
                    <div id="send-message-div">
                        <textarea id="user-message-text"></textarea>
                    </div>
                    <div id="user-message-send-button" class="general-button">
                        <h5>SEND</h5>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>