<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Signup | Login | Script Social</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}"/>
    <link rel="stylesheet" href="../static/style/authorize-style.css"
          th:href="@{/style/authorize-style.css}"/>
    <link rel="icon" href="../static/image/favicon/script_social_transparent_cropped.ico"
          th:href="@{/image/favicon/script_social_transparent_cropped.ico}">
</head>
<body data-page="authorize">
<header>
    <div>
        <img id="nav-hamburger-menu" src="../static/image/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/image/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <div class="nav-item">
            <h4 class="nav-text"></h4>
        </div>
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../static/image/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/image/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <div id="account-and-logout-div" class="nav-item">
            <div id="account-nav-item">
                <h4 id="account-name-text" class="nav-text"></h4>
            </div>
            <div id="logout-button">
                <h5>Logout</h5>
            </div>
        </div>
    </nav>
    <div>
        <!-- Insert logo here -->
    </div>
</header>
<main>
    <section id="choose-auth-type-section">
        <div id="signup-button" class="auth-type-button">
            <h3>Signup</h3>
        </div>
        <div id="login-button" class="auth-type-button">
            <h3>Login</h3>
        </div>
    </section>
    <section id="auth-input-section">
        <div id="signup-div" class="general-console-container">
            <div class="general-console">
                <div>
                    <div class="console-input-title-field">
                        <div class="console-title-field">
                            <h5>Email: </h5>
                        </div>
                        <div>
                            <input class="console-input" id="signup-email-input" type="email">
                        </div>
                    </div>
                    <div class="console-input-title-field">
                        <div class="console-title-field">
                            <h5>Username: </h5>
                        </div>
                        <div>
                            <input class="console-input" id="signup-username-input" type="text">
                        </div>
                    </div>
                    <div class="console-input-title-field">
                        <div class="console-title-field">
                            <h5>Password: </h5>
                        </div>
                        <div>
                            <input class="console-input signup-password-inputs" id="signup-password-input" type="password">
                        </div>
                    </div>
                    <div class="console-input-title-field">
                        <div class="console-title-field">
                            <h5>Confirm Password: </h5>
                        </div>
                        <div>
                            <input class="console-input signup-password-inputs" id="signup-confirm-password-input" type="password">
                        </div>
                    </div>
                    <!-- TODO: Add agree to terms checkbox -->
                </div>
                <div id="signup-popup-confirm-div" class="console-popup-and-confirm-div">
                    <div id="confirm-signup-button" class="general-button confirm-button">
                        <h5 class="general-button-text">CONFIRM</h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="login-div" class="general-console-container">
            <div class="general-console">
                <div>
                    <div class="console-input-title-field">
                        <div class="console-title-field">
                            <h5>Username: </h5>
                        </div>
                        <div>
                            <input class="console-input" id="login-username-input" type="text">
                        </div>
                    </div>
                    <div class="console-input-title-field">
                        <div class="console-title-field">
                            <h5>Password: </h5>
                        </div>
                        <div>
                            <input class="console-input" id="login-password-input" type="password">
                        </div>
                    </div>
                </div>
                <div id="login-popup-confirm-div" class="console-popup-and-confirm-div">
                    <div id="confirm-login-button" class="general-button confirm-button">
                        <h5 class="general-button-text">CONFIRM</h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="popup-div">
            <h5 id="popup-text"></h5>
        </div>
    </section>
</main>
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item" class="footer-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item" class="footer-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>