<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<!--==============================-Metadata-===============================-->
<head>
    <meta charset="UTF-8">
    <title>Create | Script Social</title>
    <!----------------------------Stylesheets-------------------------------->
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}"/>
    <link rel="stylesheet" href="../static/style/create-style.css"
            th:href="@{/style/create-style.css}"/>
    <!------------------------------Favicon---------------------------------->
    <link rel="icon" href="../static/image/favicon/script_social_transparent_cropped.ico"
            th:href="@{/image/favicon/script_social_transparent_cropped.ico}">
</head>
<body data-page="create">
<!--===============================-Nav-Bar-===============================-->
<header>
    <!------------------------Nav-Hamburger-Menu----------------------------->
    <div>
        <img id="nav-hamburger-menu" src="../static/image/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/image/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <!-------------------------Nav-Home---------------------------------->
        <a href="/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text"></h4>
            </div>
        </a>
        <!------------------------Nav-Search--------------------------------->
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../static/image/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/image/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <!------------------------Nav-Account-------------------------------->
        <div id="account-and-logout-div" class="nav-item">
            <div id="account-nav-item">
                <h4 id="account-name-text" class="nav-text"></h4>
            </div>
            <div id="logout-button">
                <h5>Logout</h5>
            </div>
        </div>
    </nav>
    <!---------------------------Nav-User-Menu------------------------------->
    <div id="user-nav-menu-div">
        <div id="user-nav-img-div">
            <img id="user-nav-img" src="../static/image/icon/default_avatar.svg" alt="User Avatar"
                 th:src="@{/image/icon/default_avatar.svg}">
        </div>
        <!-- TODO: Add dropdown menu for user settings. This should include a
                   logout option.-->
    </div>
</header>
<!-----------------------------Secondary-Nav-Bar----------------------------->
<nav id="side-nav-bar" class="side-nav-closed">
    <!--------------------------Nav-Popout-Tab------------------------------->
    <div id="side-bar-tab-div" class="side-bar-icon-div">
        <img id="side-bar-tab-img" class="side-bar-icon-img" src="../static/image/icon/white_tab_icon.svg"
             alt="Tab Icon" th:src="@{/image/icon/white_tab_icon.svg}">
    </div>
    <hr />
    <div id="side-nav-items">
        <!---------------------Nav-Notifications----------------------------->
        <a class="link-no-style side-bar-functionality-div" href="/notifications/">
            <div class="side-bar-icon-div">
                <img class="side-bar-icon-img" src="../static/image/icon/white_notification_bell_icon.svg"
                     alt="Notification Bell Icon" th:src="@{/image/icon/white_notification_bell_icon.svg}">
            </div>
            <div class="side-bar-icon-title-div">
                <h6>Notifications</h6>
            </div>
        </a>
        <!-----------------------Nav-Messages-------------------------------->
        <a class="link-no-style side-bar-functionality-div" href="/messages/">
            <div class="side-bar-icon-div">
                <img class="side-bar-icon-img" src="../static/image/icon/white_mail_icon.svg" alt="Mail Icon"
                     th:src="@{/image/icon/white_mail_icon.svg}">
            </div>
            <div class="side-bar-icon-title-div">
                <h6>Messages</h6>
            </div>
        </a>
    </div>
</nav>
<!--============================-Main-Content-=============================-->
<main>
    <!------------------------Write-Post-Section----------------------------->
    <section id="write-post-section">
        <div id="write-post-div">
            <div id="write-post-textarea-div">
                <textarea id="write-post-textarea" placeholder="What's on your mind?"></textarea>
            </div>
            <div id="write-post-button-div" class="general-button">
                <h5>POST</h5>
            </div>
        </div>
    </section>
</main>
<!--===============================-Footer-================================-->
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item" class="footer-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item" class="footer-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<!--===============================-Scripts-===============================-->

<!-------------------------------Stack-Bundle-------------------------------->
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>