<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<body>
<app></app>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>







<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns="http://www.w3.org/1999/html"-->
<!--      dir="ltr">-->
<!--&lt;!&ndash;==============================-Metadata-===============================&ndash;&gt;-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Script Social</title>-->
<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Stylesheets&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <link rel="stylesheet" href="../static/style/global-style.css"-->
<!--          th:href="@{/style/global-style.css}"/>-->
<!--    <link rel="stylesheet" href="../static/style/home-style.css"-->
<!--          th:href="@{/style/home-style.css}"/>-->
<!--    <link rel="stylesheet" href="angular_build/styles.css"-->
<!--            th:href="@{/angular_build/styles.css}"/>-->
<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Favicon&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <link rel="icon" href="../static/image/favicon/script_social_transparent_cropped.ico"-->
<!--          th:href="@{/image/favicon/script_social_transparent_cropped.ico}">-->
<!--</head>-->


<!--<body data-page="home">-->
<!--<app [name]="'ollie'"></app>-->
<!--<nav-bar></nav-bar>-->
<!--&lt;!&ndash;============================-Main-Content-=============================&ndash;&gt;-->
<!--<main>-->
<!--    &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Introduction-Section&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <section id="introduction-section">-->
<!--        <div id="title-div">-->
<!--            <span class="title-curly-brace">&#123;</span>-->
<!--            <h1 id="title-text"></h1>-->
<!--            <span id="title-blinking-cursor" class="blinking-cursor">|</span>-->
<!--            <span class="title-curly-brace">&#125;</span>-->
<!--        </div>-->
<!--        <div id="logo-with-text">-->
<!--            <div id="intro-text-div">-->
<!--                <div id="intro-headline-div">-->
<!--                    <h3>Connect with Developers</h3>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p class="indented-text">-->
<!--                        Connect with your fellow developers and share your code,-->
<!--                        thoughts, and ideas with the world. Script Social is a tool-->
<!--                        for those with established teams looking for easy-->
<!--                        communication and integration with version control, as well as-->
<!--                        those looking create communities and teams of their own. Sign-->
<!--                        up for a free account today and start sharing, connecting, and-->
<!--                        collaborating with other developers.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="intro-logo-div">-->
<!--                <img id="intro-logo" src="../static/image/logo/script_social_cropped.png" alt="Script Social Logo"-->
<!--                     th:src="@{/image/logo/script_social_cropped.png}">-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Join-Section&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <section id="join-section">-->
<!--        <div id="join-title-div">-->
<!--            <h2>Join</h2>-->
<!--        </div>-->
<!--        <section id="join-console-section">-->
<!--            <div id="join-console">-->
<!--                <div id="join-console-text">-->
<!--                    &lt;!&ndash;                    <h3>Sign Up</h3>&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Join-Inputs&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                <div id="join-console-inputs">-->
<!--                    <div id="join-console-email-div" class="join-input-title-field">-->
<!--                        <div id="join-console-email-text-div" class="join-title-field">-->
<!--                            <h5>Email: </h5>-->
<!--                        </div>-->
<!--                        <div id="join-console-email-input-div">-->
<!--                            <input class="general-input join-input" id="join-console-email-input" type="email">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div id="join-console-username-div" class="join-input-title-field">-->
<!--                        <div id="join-console-username-text-div" class="join-title-field">-->
<!--                            <h5>Username: </h5>-->
<!--                        </div>-->
<!--                        <div id="join-console-username-input-div">-->
<!--                            <input class="general-input join-input" id="join-console-username-input" type="text">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div id="join-console-password-div" class="join-input-title-field">-->
<!--                        <div id="join-console-password-text-div" class="join-title-field">-->
<!--                            <h5>Password: </h5>-->
<!--                        </div>-->
<!--                        <div id="join-console-password-input-div">-->
<!--                            <input class="general-input join-input" id="join-console-password-input" type="password">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div id="join-console-confirm-password-div" class="join-input-title-field">-->
<!--                        <div id="join-console-confirm-password-text-div" class="join-title-field">-->
<!--                            <h5>Confirm Password: </h5>-->
<!--                        </div>-->
<!--                        <div id="join-console-confirm-password-input-div">-->
<!--                            <input class="general-input join-input" id="join-console-confirm-password-input" type="password">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; TODO: Add agree to terms checkbox &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Popup-And-Confirm-Div-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                <div id="popup-and-confirm-div">-->
<!--                    <div id="popup-div">-->
<!--                        <p id="popup-text">Please enter an email.</p>-->
<!--                    </div>-->
<!--                    <div id="confirm-join-button" class="general-button">-->
<!--                        <h5 class="general-button-text">CONFIRM</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        &lt;!&ndash; TODO: Implement new popup section below. &ndash;&gt;-->
<!--        <div id="message-popup-console" class="general-console-container">-->
<!--            <div class="general-console">-->
<!--                <div class="console-popup-div">-->
<!--                    <h5 id="console-message-text"></h5>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;    <input type="hidden" id="csrf-token" th:value="${_csrf.token}"/>&ndash;&gt;-->
<!--</main>-->
<!--&lt;!&ndash;===============================-Footer-================================&ndash;&gt;-->
<!--<ss-footer></ss-footer>-->
<!--&lt;!&ndash;===============================-Scripts-===============================&ndash;&gt;-->
<!--&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Stack-Bundle&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<script src="../static/script/bundle.js" type="application/javascript"-->
<!--        th:src="@{/script/bundle.js}"></script>-->
<!--&lt;!&ndash;<script src="angular_build/main.fb262389e116856a.js" th:src="@{/angular_build/main.fb262389e116856a.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="angular_build/polyfills.03ea5966b0a72ae0.js" th:src="@{/angular_build/polyfills.03ea5966b0a72ae0.js}"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="angular_build/runtime.33bdeade2b0e76bc.js" th:src="@{/angular_build/runtime.33bdeade2b0e76bc.js}"></script>&ndash;&gt;-->
<!--</body>-->
