<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Script Social</title>
    <link rel="stylesheet" href="../static/style/universal-style.css"
          th:href="@{/style/universal-style.css}"/>
    <link rel="stylesheet" href="../static/style/home-style.css"
          th:href="@{/style/home-style.css}"/>
    <link rel="icon" href="../static/image/favicon/script_social_transparent_cropped.ico"
          th:href="@{/image/favicon/script_social_transparent_cropped.ico}">
</head>
<body data-page="home">
<!-- TODO: Turn into a Thymeleaf template to be more modular. -->
<header>
    <div>
        <img id="nav-hamburger-menu" src="../static/image/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/image/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <div class="nav-item">
            <h4 class="nav-text"></h4>
        </div>
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../static/image/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/image/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <div id="account-and-logout-div" class="nav-item">
            <div id="account-nav-item">
                <h4 id="account-name-text" class="nav-text"></h4>
            </div>
            <div id="logout-button">
                <h5>Logout</h5>
            </div>
        </div>
    </nav>
    <div>
        <!-- Insert logo here -->
    </div>
</header>
<main>
    <section id="introduction-section">
        <div id="title-div">
            <span class="title-curly-brace">&#123;</span>
            <h1 id="title-text"></h1>
            <span id="title-blinking-cursor" class="blinking-cursor">|</span>
            <span class="title-curly-brace">&#125;</span>
        </div>
        <div id="logo-with-text">
            <div id="intro-text-div">
                <div id="intro-headline-div">
                    <h3>Connect with Developers</h3>
                </div>
                <div>
                    <p class="indented-text">
                        Connect with your fellow developers and share your code,
                        thoughts, and ideas with the world. Script Social is a tool
                        for those with established teams looking for easy
                        communication and integration with version control, as well as
                        those looking create communities and teams of their own. Sign
                        up for a free account today and start sharing, connecting, and
                        collaborating with other developers.
                    </p>
                </div>
            </div>
            <div id="intro-logo-div">
                <img id="intro-logo" src="../static/image/logo/script_social_cropped.png" alt="Script Social Logo"
                     th:src="@{/image/logo/script_social_cropped.png}">
            </div>
        </div>
    </section>
    <section id="join-section">
        <div id="join-title-text">
            <h2>Join</h2>
        </div>
        <section id="join-console-section">
            <div id="join-console">
                <div id="join-console-text">
                    <!--                    <h3>Sign Up</h3>-->
                </div>
                <div id="join-console-inputs">
                    <div id="join-console-email-div" class="join-input-title-field">
                        <div id="join-console-email-text-div" class="join-title-field">
                            <h5>Email: </h5>
                        </div>
                        <div id="join-console-email-input-div">
                            <input class="general-input join-input" id="join-console-email-input" type="email">
                        </div>
                    </div>
                    <div id="join-console-username-div" class="join-input-title-field">
                        <div id="join-console-username-text-div" class="join-title-field">
                            <h5>Username: </h5>
                        </div>
                        <div id="join-console-username-input-div">
                            <input class="general-input join-input" id="join-console-username-input" type="text">
                        </div>
                    </div>
                    <div id="join-console-password-div" class="join-input-title-field">
                        <div id="join-console-password-text-div" class="join-title-field">
                            <h5>Password: </h5>
                        </div>
                        <div id="join-console-password-input-div">
                            <input class="general-input join-input" id="join-console-password-input" type="password">
                        </div>
                    </div>
                    <div id="join-console-confirm-password-div" class="join-input-title-field">
                        <div id="join-console-confirm-password-text-div" class="join-title-field">
                            <h5>Confirm Password: </h5>
                        </div>
                        <div id="join-console-confirm-password-input-div">
                            <input class="general-input join-input" id="join-console-confirm-password-input" type="password">
                        </div>
                    </div>
                    <!-- TODO: Add agree to terms checkbox -->
                </div>
                <div id="popup-and-confirm-div">
                    <div id="popup-div">
                        <p id="popup-text">Please enter an email.</p>
                    </div>
                    <div id="confirm-join-button" class="general-button">
                        <h5 class="general-button-text">CONFIRM</h5>
                    </div>
                </div>
            </div>
        </section>
        <div id="message-popup-console" class="general-console-container">
            <div class="general-console">
                <div class="console-popup-div">
                    <h5 id="console-message-text"></h5>
                </div>
            </div>
        </div>
    </section>
<!--    <input type="hidden" id="csrf-token" th:value="${_csrf.token}"/>-->
</main>
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item" class="footer-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item" class="footer-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
