<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<!--==============================-Metadata-===============================-->
<head>
    <meta charset="UTF-8">
    <title th:text="${username}"> | Script Social</title>
    <!----------------------------Stylesheets-------------------------------->
    <link rel="stylesheet" href="../../../../angular/styles/global-style.css"
          th:href="@{/angular/styles/global-style.css}"/>
    <link rel="stylesheet" href="../../../../angular/styles/profile-style.css"
          th:href="@{/angular/styles/profile-style.css}"/>
    <!------------------------------Favicon---------------------------------->
    <link rel="icon" href="../../../../angular/assets/images/favicon/script_social_transparent_cropped.ico"
          th:href="@{/angular/assets/images/favicon/script_social_transparent_cropped.ico}">
</head>
<body data-page="profile" th:user-id="${userId}">
<!--===============================-Nav-Bar-===============================-->
<header>
    <!------------------------Nav-Hamburger-Menu----------------------------->
    <div>
        <img id="nav-hamburger-menu" src="../../../../angular/assets/images/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/angular/assets/images/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <!-------------------------Nav-Home---------------------------------->
        <a href="/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text"></h4>
            </div>
        </a>
        <!------------------------Nav-Search--------------------------------->
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../../../../angular/assets/images/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/angular/assets/images/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <!------------------------Nav-Account-------------------------------->
        <div id="account-and-logout-div" class="nav-item">
            <div id="account-nav-item">
                <h4 id="account-name-text" class="nav-text"></h4>
            </div>
            <div id="logout-button">
                <h5>Logout</h5>
            </div>
        </div>
    </nav>
    <!---------------------------Nav-User-Menu------------------------------->
    <div id="user-nav-menu-div">
        <div id="user-nav-img-div">
            <img id="user-nav-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="User Avatar"
                 th:src="@{/angular/assets/images/icon/default_avatar.svg}">
        </div>
        <!-- TODO: Add dropdown menu for user settings. This should include a
                   logout option.-->
    </div>
</header>
<!-----------------------------Secondary-Nav-Bar----------------------------->
<nav id="side-nav-bar" class="side-nav-closed">
    <!--------------------------Nav-Popout-Tab------------------------------->
    <div id="side-bar-tab-div" class="side-bar-icon-div">
        <img id="side-bar-tab-img" class="side-bar-icon-img" src="../../../../angular/assets/images/icon/white_tab_icon.svg"
             alt="Tab Icon" th:src="@{/angular/assets/images/icon/white_tab_icon.svg}">
    </div>
    <hr />
    <div id="side-nav-items">
        <!---------------------Nav-Notifications----------------------------->
        <a class="link-no-style side-bar-functionality-div" href="/notifications/">
            <div class="side-bar-icon-div">
                <img class="side-bar-icon-img" src="../../../../angular/assets/images/icon/white_notification_bell_icon.svg"
                     alt="Notification Bell Icon" th:src="@{/angular/assets/images/icon/white_notification_bell_icon.svg}">
            </div>
            <div class="side-bar-icon-title-div">
                <h6>Notifications</h6>
            </div>
        </a>
        <!-----------------------Nav-Messages-------------------------------->
        <a class="link-no-style side-bar-functionality-div" href="/messages/">
            <div class="side-bar-icon-div">
                <img class="side-bar-icon-img" src="../../../../angular/assets/images/icon/white_mail_icon.svg" alt="Mail Icon"
                     th:src="@{/angular/assets/images/icon/white_mail_icon.svg}">
            </div>
            <div class="side-bar-icon-title-div">
                <h6>Messages</h6>
            </div>
        </a>
    </div>
</nav>
<!--============================-Main-Content-=============================-->
<main>
    <!-- TODO: If a user is private, show a message, hide the appropriate
               content, and heavily blur their profile picture. -->
    <!--------------------------Banner-Section------------------------------->
    <section id="banner-section">

    </section>
    <!-------------------------Headline-Section------------------------------>
    <section id="headline-section">
        <div id="profile-picture-with-name">
            <div id="profile-picture-div">
                <img id="profile-picture-img" src="../../../../angular/assets/images/icon/default_avatar.svg" alt="Profile Image"
                     th:src="@{/angular/assets/images/icon/default_avatar.svg}">
            </div>
            <div id="profile-name-and-bio-div">
                <div id="profile-name">
                    <div id="profile-first-name" class="profile-name">
                        <h5 class="profile-name-headline-text" id="first-name-headline-text">Oliver</h5>
                    </div>
                    <div id="profile-last-name" class="profile-name">
                        <h5 class="profile-name-headline-text" id="last-name-headline-text">Sigwarth</h5>
                    </div>
                </div>
                <div id="profile-bio">
                    <p id="profile-bio-text">I'm a software developer who loves to code!</p>
                </div>
            </div>
        </div>
        <!---------------------Headline-Buttons------------------------------>
        <div id="buttons-div">
            <div id="follow-button" class="general-button profile-button">
                <h5>Follow</h5>
            </div>
            <div id="connection-button" class="general-button profile-button">
                <h5>Connect</h5>
            </div>
            <div id="message-button" class="general-button profile-button">
                <h5>Message</h5>
            </div>
        </div>
    </section>
    <!-------------------------User-Tabs-Section----------------------------->
    <section id="user-tabs-section">
        <!--        <div>-->
        <!--            <h4>Projects</h4>-->
        <!--        </div>-->
        <div>

        </div>
    </section>
    <!------------------------Write-Post-Section----------------------------->
    <section id="write-post-section">
        <div id="write-post-div" class="general-write-post-div">
            <div id="write-post-textarea-div" class="write-post-textarea-div">
                <textarea id="write-post-textarea" placeholder="What's on your mind?"></textarea>
            </div>
            <div id="write-post-button-div" class="general-button write-post-button-div">
                <h5>POST</h5>
            </div>
        </div>
    </section>
    <!-------------------------Activity-Section------------------------------>
    <section id="activity-section">
        <div id="activity-title-div">
            <h4 id="activity-title-text">Activity</h4>
        </div>
        <hr />
        <!---------------------------Post------------------------------------>
        <div class="general-post">
            <div>
                <p>
                    When I think about computer science, I think about
                    computers. When I think about computers, I think about
                    robots. When I think about robots, I think about
                    electricity. When I think about electricity, I think of
                    the universe. When I think of the universe, I think of
                    omniscience. Basically, computer science is everything. I
                    just proved the matrix. Totally flawless logic.
                </p>
            </div>
        </div>
        <div class="content-box">
            <div>
                <p>
                    <!-- TODO: href is set by the data in the backend and
                               routed via the jQuery in the frontend. -->
                    <a href="" class="hyperlink">Oliver</a> connected with <a href="" class="hyperlink">Martha Stewart</a>.
                </p>
            </div>
        </div>
        <!-----------------------Project-Post-------------------------------->
        <div class="general-project-post">
            <div class="post-info">
                <p>
                    Added 55 commits to
                    <a class="hyperlink" href="">Script Social</a>.
                </p>
            </div>
            <div>
                <!-- TODO: Add buttons like reactions, commenting, and
                           sharing. -->
            </div>
            <hr />
            <!-------------------Comments-Div-------------------------------->
            <div class="comments-div">
                <div class="comment-div">
                    <a class="hyperlink" href="">
                        <div class="commenter-name-div">
                            <h6 class="commenter-name">
                                Kyle Mark-Stewart
                            </h6>
                        </div>
                    </a>
                    <div class="commenter-comment-div">
                        <p class="commenter-comment">
                            jQuery in 2024? I think maybe we should be looking
                            forward to state management solutions, not backward.
                        </p>
                    </div>
                    <div class="comment-info-div">
                        <div class="date-posted-div">
                            <p class="date-posted">
                                March 3rd, 3:15 PM
                            </p>
                        </div>
                    </div>
                </div>
                <div class="comment-div">
                    <a class="hyperlink" href="">
                        <div class="commenter-name-div">
                            <h6 class="commenter-name">
                                Sally Field
                            </h6>
                        </div>
                    </a>
                    <div class="commenter-comment-div">
                        <p class="commenter-comment">
                            Wow! Looks like a lot of improvements, especially
                            getting it able to compile.
                        </p>
                    </div>
                    <div class="comment-info-div">
                        <div class="date-posted-div">
                            <p class="date-posted">
                                April 2nd, 1:05 AM
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO: When someone hovers over an icon which is charcoal colored
                   by default, it should turn apricot or orange when hovered
                   and then filled that color when selected. -->

    </section>
</main>
<!--===============================-Footer-================================-->
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item" class="footer-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item" class="footer-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<!--===============================-Scripts-===============================-->

<!-------------------------------Stack-Bundle-------------------------------->
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>