<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title th:text="${username}"> | Script Social</title>
    <link rel="stylesheet" href="../static/style/universal-style.css"
          th:href="@{/style/universal-style.css}"/>
    <link rel="stylesheet" href="../static/style/profile-style.css"
          th:href="@{/style/profile-style.css}"/>
    <link rel="icon" href="../static/image/favicon/script_social_transparent_cropped.ico"
          th:href="@{/image/favicon/script_social_transparent_cropped.ico}">
</head>
<body data-page="profile" th:user-id="${userId}">
<header>
    <div>
        <img id="nav-hamburger-menu" src="../static/image/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/image/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <div class="nav-item">
            <h4 class="nav-text"></h4>
        </div>
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../static/image/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/image/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <div id="account-and-logout-div" class="nav-item">
            <div id="account-nav-item">
                <h4 id="account-name-text" class="nav-text"></h4>
            </div>
            <div id="logout-button">
                <h5>Logout</h5>
            </div>
        </div>
    </nav>
    <div>
        <!-- Insert logo here -->
    </div>
</header>
<main>
    <!-- TODO: If a user is private, show a message, hide the appropriate
               content, and heavily blur their profile picture. -->
    <section id="banner-section">

    </section>
    <section id="user-tabs-section">

    </section>
    <section id="headline-section">
        <div id="profile-picture-with-name">
            <div id="profile-picture-div">
                <img id="profile-picture-img" src="../static/image/icon/default_avatar.svg" alt="Profile Image"
                     th:src="@{/image/icon/default_avatar.svg}">
            </div>
            <div id="profile-name-and-bio-div">
                <div id="profile-name">
                    <div id="profile-first-name">
                        <h5 class="profile-name-headline-text" id="first-name-headline-text">Oliver</h5>
                    </div>
                    <div id="profile-last-name">
                        <h5 class="profile-name-headline-text" id="last-name-headline-text">Sigwarth</h5>
                    </div>
                </div>
                <div id="profile-bio">
                    <p id="profile-bio-text">I'm a software developer who loves to code!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="write-post-section">
        <div id="write-post-div">
            <div id="write-post-textarea-div">
                <textarea id="write-post-textarea" placeholder="What's on your mind?"></textarea>
            </div>
            <div id="write-post-button-div" class="general-button">
                <h5>POST</h5>
            </div>
        </div>
    </section>
    <section id="activity-section">
        <div id="activity-title-div">
            <h4 id="activity-title-text">Activity</h4>
        </div>
        <hr />
        <div class="general-post">
            <div>
                <p>
                    When I think about computer science, I think about
                    computers. When I think about computers, I think about
                    robots. When I think about robots, I think about
                    electricity. When I think about electricity, I think of
                    the universe. When I think of the universe, I think of
                    omniscience. Basically, computer science is everything. I
                    just proved the matrix. Totally flawless logic.
                </p>
            </div>
        </div>
        <!-- TODO: When someone hovers over an icon which is charcoal colored
                   by default, it should turn apricot or orange when hovered
                   and then filled that color when selected. -->

    </section>
</main>
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item" class="footer-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item" class="footer-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>