<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<!--==============================-Metadata-===============================-->
<head>
    <meta charset="UTF-8">
    <title>Terms of Service | Script Social</title>
    <!----------------------------Stylesheets-------------------------------->
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}"/>
    <!------------------------------Favicon---------------------------------->
    <link rel="icon" href="../static/image/favicon/script_social_transparent_cropped.ico"
          th:href="@{/image/favicon/script_social_transparent_cropped.ico}">
</head>
<body>
<!--===============================-Nav-Bar-===============================-->
<header>
    <!------------------------Nav-Hamburger-Menu----------------------------->
    <div>
        <img id="nav-hamburger-menu" src="../static/image/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/image/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <!-------------------------Nav-Home---------------------------------->
        <a href="/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text"></h4>
            </div>
        </a>
        <!------------------------Nav-Search--------------------------------->
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../static/image/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/image/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <!------------------------Nav-Account-------------------------------->
        <div id="account-and-logout-div" class="nav-item">
            <div id="account-nav-item">
                <h4 id="account-name-text" class="nav-text"></h4>
            </div>
            <div id="logout-button">
                <h5>Logout</h5>
            </div>
        </div>
    </nav>
    <!---------------------------Nav-User-Menu------------------------------->
    <div id="user-nav-menu-div">
        <div id="user-nav-img-div">
            <img id="user-nav-img" src="../static/image/icon/default_avatar.svg" alt="User Avatar"
                 th:src="@{/image/icon/default_avatar.svg}">
        </div>
        <!-- TODO: Add dropdown menu for user settings. This should include a
                   logout option.-->
    </div>
</header>
<!--============================-Main-Content-=============================-->
<main>

</main>
<!--===============================-Footer-================================-->
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item" class="footer-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item" class="footer-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<!--===============================-Scripts-===============================-->

<!-------------------------------Stack-Bundle-------------------------------->
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>