<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Terms of Service | Script Social</title>
</head>
<body>
<header>
    <div>
        <img id="nav-hamburger-menu" src="../static/image/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/image/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <a href="/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text"></h4>
            </div>
        </a>
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../static/image/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/image/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <div id="account-and-logout-div" class="nav-item">
            <div id="account-nav-item">
                <h4 id="account-name-text" class="nav-text"></h4>
            </div>
            <div id="logout-button">
                <h5>Logout</h5>
            </div>
        </div>
    </nav>
    <div id="user-nav-menu-div">
        <div id="user-nav-img-div">
            <img id="user-nav-img" src="../static/image/icon/default_avatar.svg" alt="User Avatar"
                 th:src="@{/image/icon/default_avatar.svg}">
        </div>
        <!-- TODO: Add dropdown menu for user settings. This should include a
                   logout option.-->
    </div>
</header>
</body>
</html>