<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Script Social</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}"/>
    <link rel="stylesheet" href="../static/style/welcome-style.css"
          th:href="@{/style/welcome-style.css}"/>
    <link rel="icon" href="../static/image/favicon/script_social_transparent_cropped.ico"
          th:href="@{/image/favicon/script_social_transparent_cropped.ico}">
</head>
<body data-page="welcome">
<header>
    <div>
        <img id="nav-hamburger-menu" src="../static/image/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/image/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <a href="/" class="link-no-style nav-item">
            <div>
                <h4 class="nav-text"></h4>
            </div>
        </a>
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../static/image/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/image/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <div id="account-and-logout-div" class="nav-item">
            <div id="account-nav-item">
                <h4 id="account-name-text" class="nav-text"></h4>
            </div>
            <div id="logout-button">
                <h5>Logout</h5>
            </div>
        </div>
    </nav>
    <div id="user-nav-menu-div">
        <div id="user-nav-img-div">
            <img id="user-nav-img" src="../static/image/icon/default_avatar.svg" alt="User Avatar"
                 th:src="@{/image/icon/default_avatar.svg}">
        </div>
        <!-- TODO: Add dropdown menu for user settings. This should include a
                   logout option.-->
    </div>
</header>
<main>
    <section id="title-section">
        <div id="title-div">
            <h1 id="title-text">Welcome</h1>
        </div>
        <div id="subtext-div">
            <h3>Let's build a profile</h3>
        </div>
    </section>
    <section id="inputs-section">
        <div id="title-question-div">
            <h4 id="title-question-text"></h4>
        </div>
        <div class="general-console-container">
            <div class="general-console">
                <div id="console-inputs">
                    <div class="console-input-title-field">
                        <div class="console-title-field">
                            <h5 class="welcome-input-title-text" id="first-input-text">First Name: </h5>
                        </div>
                        <div id="first-input-title-div">
                            <input class="console-input" id="first-input" type="text">
                        </div>
                    </div>
                    <div id="second-input-title-div" class="console-input-title-field">
                        <div class="console-title-field" id="second-input-div">
                            <h5 class="welcome-input-title-text" id="second-input-text">Last Name: </h5>
                        </div>
                        <div>
                            <input class="console-input" id="second-input" type="text">
                        </div>
                    </div>
                    <div id="bubble-selection-div">
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                        <div class="bubble-item">
                            <h5 class="bubble-item-text"></h5>
                        </div>
                    </div>
                </div>
                <div id="bio-div">
                    <textarea id="user-bio-input" class="general-text-area">

                    </textarea>
                </div>
                <div id="profile-picture-div">
                    <div id="image-editor"></div>
                    <div id="status-bar"></div>
                    <div id="default-profile-picture-div">
                        <img id="default-profile-picture-img" src="../static/image/icon/default_avatar.svg"
                             alt="Default Avatar"
                             th:src="@{/image/icon/default_avatar.svg}">
                    </div>
                    <div id="file-upload-div">
                        <label for="file-upload-input" id="file-upload-label">
                            Upload Profile Picture
                        </label>
                        <input type="file" id="file-upload-input" accept="image/*">
                    </div>
                </div>
                <div id="welcome-buttons" class="console-popup-and-confirm-div">
                    <div id="back-button" class="general-button user-info-button">
                        <h5>BACK</h5>
                    </div>
                    <div id="skip-button" class="general-button user-info-button">
                        <h5>SKIP</h5>
                    </div>
                    <div id="confirm-button" class="general-button user-info-button">
                        <h5 id="confirm-button-text">CONFIRM</h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="console-popup-container" class="general-console-container">
            <div class="general-console">
                <div id="console-popup-div">
                    <h5 id="console-popup-text">Please fill out both fields.</h5>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item" class="footer-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item" class="footer-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>