<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Welcome | Script Social</title>
    <link rel="stylesheet" href="../static/style/global-style.css"
          th:href="@{/style/global-style.css}"/>
    <link rel="stylesheet" href="../static/style/welcome-style.css"
          th:href="@{/style/welcome-style.css}"/>
    <link rel="icon" href="../static/image/favicon/script_social_transparent_cropped.ico"
          th:href="@{/image/favicon/script_social_transparent_cropped.ico}">
</head>
<body data-page="welcome">
<header>
    <div>
        <img id="nav-hamburger-menu" src="../static/image/icon/hamburger_menu.svg" alt="Hamburger Menu"
             th:src="@{/image/icon/hamburger_menu.svg}">
    </div>
    <nav id="nav-bar">
        <div class="nav-item">
            <h4 class="nav-text"></h4>
        </div>
        <div class="nav-item" id="nav-search-div">
            <div id="search-icon-div">
                <img id="search-icon-img" src="../static/image/icon/search_icon.png" alt="Search Icon"
                     th:src="@{/image/icon/search_icon.png}">
            </div>
            <div>
                <h4 class="nav-text"></h4>
            </div>
            <div id="nav-search-input-div">
                <input class="general-input" id="nav-search-input" type="text" placeholder="Search">
            </div>
        </div>
        <div class="nav-item">
            <h4 class="nav-text"></h4>
        </div>
    </nav>
    <div>
        <!-- Insert logo here -->
    </div>
</header>
<main>
    <section id="title-section">
        <div id="title-div">
            <h1 id="title-text">Welcome</h1>
        </div>
        <div id="subtext-div">
            <h3>Let's build a profile</h3>
        </div>
    </section>
    <section id="inputs-section">
        <div id="title-question">
            <h4 id="title-question-text">What's your name?</h4>
        </div>
        <div class="general-console-container">
            <div class="general-console">
                <div id="console-inputs">
                    <div class="console-input-title-field">
                        <div class="console-title-field">
                            <h5 id="first-input-text">First Name: </h5>
                        </div>
                        <div>
                            <input class="console-input" id="first-input" type="text">
                        </div>
                    </div>
                    <div class="console-input-title-field">
                        <div class="console-title-field" id="second-input-div">
                            <h5 id="second-input-text">Last Name: </h5>
                        </div>
                        <div>
                            <input class="console-input" id="second-input" type="text">
                        </div>
                    </div>
                    <div id="interest-bubble-div">
                        <div class="interest-item">
                            <h5>Software Development</h5>
                        </div>
                        <div class="interest-item">
                            <h5>Web Development</h5>
                        </div>
                        <div class="interest-item">
                            <h5>Mobile Development</h5>
                        </div>
                        <div class="interest-item">
                            <h5>Game Development</h5>
                        </div>
                        <div class="interest-item">
                            <h5>Team Building</h5>
                        </div>
                        <div class="interest-item">
                            <h5>Project Management</h5>
                        </div>
                        <div class="interest-item">
                            <h5>Artificial Intelligence</h5>
                        </div>
                    </div>
                </div>
                <div id="welcome-buttons" class="console-popup-and-confirm-div">
                    <div id="back-button" class="general-button user-info-button">
                        <h5>BACK</h5>
                    </div>
                    <div id="confirm-button" class="general-button user-info-button">
                        <h5>CONFIRM</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <section id="footer-small-text-section">
        <div id="footer-left-text-item" class="footer-item">
            <h6>&copy 2024 Sigwarth Software</h6>
        </div>
        <div id="footer-right-text-item" class="footer-item">
            <h6>Terms of Service</h6>
        </div>
    </section>
</footer>
<script src="../static/script/bundle.js" type="application/javascript"
        th:src="@{/script/bundle.js}"></script>
</body>
</html>