<general-post-button
        [buttonType]="GeneralPostButtonType.LIKE"
        [clickResponse]="GeneralPostButtonClickResponse.TOGGLE">
</general-post-button>
<general-post-button
        [buttonType]="GeneralPostButtonType.COMMENT"
        [clickResponse]="GeneralPostButtonClickResponse.QUICK_TRIGGER">
</general-post-button>
<general-post-button
        [buttonType]="GeneralPostButtonType.REPOST"
        [clickResponse]="GeneralPostButtonClickResponse.TOGGLE">
</general-post-button>
<general-post-button
        [buttonType]="GeneralPostButtonType.CHAT"
        [clickResponse]="GeneralPostButtonClickResponse.QUICK_TRIGGER">
</general-post-button>
<general-post-button
        [buttonType]="GeneralPostButtonType.SHARE"
        [clickResponse]="GeneralPostButtonClickResponse.QUICK_TRIGGER">
</general-post-button>