@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

general-post-buttons {
    @include flex(flex-start, center, row);
    width: 95%;
    background-color: $light-charcoal;
    padding: $quarter-percent;
    @extend %console-box-shadow;
    border-radius: $half-percent;
    border-width: calc($thinnest-border * 0.25);
    margin: $quarter-percent 0;
}