<general-post-button
        [buttonType]="GeneralPostButtonType.LIKE"
        [clickResponse]="GeneralPostButtonClickResponse.TOGGLE"/>
<general-post-button
        [buttonType]="GeneralPostButtonType.COMMENT"
        [clickResponse]="GeneralPostButtonClickResponse.QUICK_RELEASE"
        (click)="emitButtonClick(GeneralPostButtonType.COMMENT)"/>
<general-post-button
        [buttonType]="GeneralPostButtonType.REPOST"
        [clickResponse]="GeneralPostButtonClickResponse.TOGGLE"/>
<general-post-button
        [buttonType]="GeneralPostButtonType.CHAT"
        [clickResponse]="GeneralPostButtonClickResponse.QUICK_RELEASE"/>
<general-post-button
        [buttonType]="GeneralPostButtonType.SHARE"
        [clickResponse]="GeneralPostButtonClickResponse.QUICK_RELEASE"/>