@import "../../../../../style/global-variables";
@import "../../../../../style/global-mixins";
@import "../../../../../style/global-functions";
@import "../../../../../style/global-placeholders";

//----------------------------Join-Console--------------------------------
join-console {
    #join-console {
        box-shadow: $absolute-black $quarter-percent $quarter-percent 0 0;
        width: auto;
        padding: $one-percent;
        border: $thin-border solid $alabaster-stone;
        border-radius: $one-percent;

        .join-input-title-field {
            @include flex(center, center, row);

            .join-title-field {
                margin-right: $one-percent;
                flex: 1;
            }

            //--------------------Join-Inputs---------------------------------
            .join-input {
                width: $fifteen-percent;
                font-family: $source-code-font;
                font-size: $p-font-size;
                color: $pure-orange;
                border-bottom: $thin-border solid $alabaster-stone;
                background-color: $charcoal;
                flex: 1;
                padding: $zero $one-percent;
            }
        }

        //-----------------Console-Popup-And-Confirm--------------------------
        #popup-and-confirm-div {
            margin: $half-percent $zero $zero $zero;
            @include flex(flex-end, center, row);

            #popup-div {
                display: none;
            }
        }
    }

    #message-popup-console {
        display: none;
    }
}