@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

profile-bio {
    background-color: $apricot-glow;
    border-radius: $one-percent;
    padding: $half-percent $one-percent;
    p {
        //color: $pure-orange;
        color: $charcoal;
    }
}