<ng-container *ngIf="isMediumSize()">
    <div class="message-headline-div" [ngClass]="getSizeClass()">
        <profile-picture [imageAsset]="imageAsset"/>
        <div class="message-name-and-date-div">
            <div class="message-users-name">
                <h6>
                    {{ message.usersName }}
                </h6>
            </div>
            <div class="message-date">
                <p>
                    {{ message.dateSent | date: 'MMM. d h:mm a' }}
                </p>
            </div>
        </div>
    </div>
    <div class="message-text-div">
        <div class="message-text">
            <p>
                {{ message.messageText }}
            </p>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="isLargeSize()">
    <div class="message-headline-div" [ngClass]="getSizeClass()">
        <profile-picture [imageAsset]="imageAsset"/>
        <div class="message-name-and-date-div">
            <div class="message-users-name">
                <h5>
                    {{ message.usersName }}
                </h5>
            </div>
            <div class="message-date">
                <h6>
                    {{ message.dateSent | date: 'MMM. d h:mm a' }}
                </h6>
            </div>
        </div>
    </div>
    <div class="message-text-div">
        <div class="message-text">
            <h6>
                {{ message.messageText }}
            </h6>
        </div>
    </div>
</ng-container>
