@import "../../../../../style/global-variables";
@import "../../../../../style/global-mixins";
@import "../../../../../style/global-functions";
@import "../../../../../style/global-placeholders";

profile-activity {
    @include flex(center, center, column);
    width: 80%;
    padding: $one-percent;
    background-color: $light-charcoal;
    @extend %content-box;
}