@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

ss-footer {
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
    background-color: transparent;
    border-top: $thinnest-border solid;
    border-image: radial-gradient(at center, $absolute-black 30%, $charcoal) 1;
}
footer {
    width: 100%;
    padding: 0;
    @include flex(center, center, row);
    margin-bottom: 0;
    #footer-small-text-section {
        @include size(100%, 100%);
        padding: $half-percent $zero;
        @include flex(center, center, row);
        h6 {
            @include basic-margin-padding(0, 0);
            color: $pristine-white;
        }
        div {
            @include flex(center, center, row);
            @include size(100%, 100%);
            flex: 1;
            padding: $zero $one-percent;
            .footer-item {
                text-align: center;
                @include flex(center, center, row);
            }
        }
        #footer-left-text-item {
            border-right: $thin-border solid $pristine-white;
        }
    }
}
