//=================================-Imports-==================================
@import "../../../../style/global-variables";
@import "../../../../style/global-mixins";
@import "../../../../style/global-functions";
@import "../../../../style/global-placeholders";
//==================================-Styles-==================================

app {
    //width: 100%;
    //height: 100%;
    //min-height: 100vh;
    @include size(100%, 100%);
    min-height: 100vh;
    background-color: $charcoal;
    @include basic-margin-padding(0, 0);
    font-family: $jetbrains-mono-font;
    @include flex(center, center, column);
}
//----------------------------General-Text-Content----------------------------
h1 {
    font-size: $h1-font-size;
    @include basic-margin-padding(0, 0);
}
h2 {
    font-size: $h2-font-size;
    @include basic-margin-padding(0, 0);
}
h3 {
    font-size: $h3-font-size;
    @include basic-margin-padding(0, 0);
}
h4 {
    font-size: $h4-font-size;
    @include basic-margin-padding(0, 0);
}
h5 {
    font-size: $h5-font-size;
    @include basic-margin-padding(0, 0);
}
h6 {
    font-size: $h6-font-size;
    @include basic-margin-padding(0, 0);
}
p {
    font-size: $p-font-size;
    @include basic-margin-padding(0, 0);
}
span {
    font-size: $p-font-size;
    @include basic-margin-padding(0, 0);
}
code {

}
//-----------------------------General-Containers-----------------------------
body {
    @include size(100%, 100%);
    min-height: 100vh;
    background-color: $charcoal;
    @include basic-margin-padding(0, 0);
    font-family: $jetbrains-mono-font;
    @include flex(center, center, column);
    main {
        width: 100%;
        @include flex(center, center, column);
    }
}
.page-container {
    flex: 1;
}
aside {

}
article {

}
.hidden {
    display: none;
}
//--------------------------------Side-Nav-Bar--------------------------------
#side-nav-bar {
    z-index: 1;
    @include flex(flex-start, center, column);
    //@include size($four-percent, 100%);
    height: 100%;
    background-color: $light-charcoal;
    //border-right: $thinnest-border solid $alabaster-stone;
    box-shadow: $light-charcoal 0 0 $eighth-percent $eighth-percent;
    top: 0;
    left: 0;
    position: fixed;
    transition: width, 0.15s;
    #side-bar-tab-div {
        margin: calc(calc-size(6, 4, 2) + $one-percent) $zero $quarter-percent $zero;
    }
    hr {
        background-color: $charcoal;
        width: 70%;
    }
    .side-bar-icon-div {
        background-color: $charcoal;
        border-radius: $half-percent;
        padding: $quarter-percent;
        margin: $half-percent $zero;
        box-sizing: border-box;
        @include square-size(calc($two-half-percent + $thin-border));
        @include flex(center, center, row);
        border: none;
        transition: border 0.15s;
        .side-bar-icon-img {
            @include size(100%, 100%);
        }

        &:hover {
            border: $thin-border solid $alabaster-stone;
            cursor: pointer;
        }

        &:active {
            border: $thin-border solid $pure-orange;
            cursor: pointer;
        }
    }
    .side-bar-functionality-div {
        @include flex(center, center, row);
        width: 100%;
        .side-bar-icon-title-div {
            flex: 1;
            margin: 0 0 0 $half-percent;
            display: none;
            h6 {
                font-size: $h6-font-size;
                color: $pristine-white;
            }
        }
    }
    #side-nav-items {
        @include flex(center, center, column);
    }
}
.side-nav-closed {
    width: $four-percent;
}
.side-nav-opened {
    width: $ten-percent;
}
//--------------------------------Hover-Styles--------------------------------
.general-hover {
    transition: color, background-color, 0.15s;
    &:hover {
        color: $charcoal;
        background-color: $pristine-white;
        cursor: pointer;
    }
    &:active {
        color: $pristine-white;
        background-color: $charcoal;
        cursor: pointer;
    }
}
//-------------------------------Select-Styles--------------------------------
.general-select {
    border-radius: $quarter-percent;
    border: $thinnest-border solid $alabaster-stone;
    padding: $quarter-percent;
}
//-----------------------------------Inputs-----------------------------------
.general-input {
    //border-radius: $quarter-percent;
    //border: $thinnest-border solid $charcoal;
    //background-color: $tangerine;
    border: none;
    width: $ten-percent;
    font-family: $source-code-font;
    font-size: $p-font-size;
    color: $pure-orange;
    border-bottom: $thin-border solid $alabaster-stone;
    background-color: $charcoal;
    flex: 1;
    padding: $zero $one-percent;
    //border-radius: $one-percent;
    &:focus {
        border-radius: $one-percent;
    }
}
.general-text-area {
    width: $fifteen-percent;
    height: auto;
    border-radius: $one-percent;
    border: $thinnest-border solid $alabaster-stone;
    background-color: $charcoal;
    box-shadow: $absolute-black $quarter-percent $quarter-percent 0 0;
    //text-decoration: underline;
    color: $pristine-white;
    font-size: $p-font-size;
    padding: $one-percent;
    resize: vertical;
}
//---------------------------------Scroll-Bar---------------------------------
::-webkit-scrollbar {
    width: $half-percent;
    height: 75%;
    background: $alabaster-stone;
    border-radius: $one-percent;
}
::-webkit-scrollbar-thumb {
    background-color: $charcoal;
    border-radius: $one-percent;
    border: $thinnest-border solid $alabaster-stone;
    &:active {
        border: $thin-border solid $alabaster-stone;
    }
}
//-----------------------------------Icons------------------------------------
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
//-------------------------------Content-Boxes--------------------------------
.content-box {
    @include flex(center, center, column);
    width: $twenty-percent;
    @extend %console;
    margin: $one-percent $zero;
    p {
        color: $pristine-white;
        font-size: $p-font-size;
        //@extend %indented-text;
    }
}
//---------------------------------Hyperlinks---------------------------------
.link-no-style {
    text-decoration: inherit;
    color: inherit;
}
.hyperlink {
    color: $apricot-glow;
    text-decoration: underline;
    text-decoration-color: $sandstone;
    text-underline-offset: calc($eighth-percent * 0.75);
    &:hover {
        cursor: pointer;
    }
}
//----------------------------------Buttons-----------------------------------
.general-button {
    color: $pristine-white;
    background-color: $charcoal;
    transition: color, background-color, 0.15s;
    margin: $eighth-percent;
    padding: $sixteenth-percent;
    user-select: none;
    &:hover {
        color: $charcoal;
        background-color: $pristine-white;
        cursor: pointer;
    }
    &:active {
        color: $pristine-white;
        background-color: $charcoal;
        cursor: pointer;
    }
}
//-----------------------------------Posts------------------------------------
.general-post {
    @extend .content-box;
}
.general-project-post {
    @extend .content-box;
    hr {
        width: 90%;
        margin: $half-percent $zero;
        @extend %console-box-shadow;
    }
    .comments-div {
        @include flex(center, center, column);
        .comment-div {
            margin: $half-percent 0;
            .commenter-name-div {
                @include flex(center, center, row);
                margin: $quarter-percent 0;
                h5, span {
                    font-size: $h6-font-size;
                }
            }
        }
        .comment-info-div {
            //align-self: flex-end;
            //justify-self: flex-end;
            .date-posted-div {
                p {
                    font-style: italic;
                    text-align: right;
                }
            }
        }
    }
}
.general-write-post-div {
    @include flex(center, center, column);
    width: $twenty-percent;
    height: $ten-percent;
    @extend %console;
    .write-post-textarea-div {
        textarea {
            width: $nineteen-percent;
            height: $six-percent;
            background-color: $charcoal;
            color: $pristine-white;
            border-radius: $one-percent;
            padding: $one-percent;
            margin: $one-percent $zero $half-percent $zero;
            resize: none;
        }
    }
    .write-post-button-div {
        align-self: flex-end;
        margin-bottom: $half-percent;
    }
}
//------------------------------Text-Type-Styles------------------------------
.being-typed::after {
    text-decoration: none;
    content: "_";
}
.typing-completed::after {
    content: "";
}

//==============================-Media-Queries-===============================

//-------------------------Width-500-Pixels-And-Below-------------------------
@media screen and (max-width: 500px) {
    header {
        nav {
            width: 70%;
        }
    }
}