@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

.blinking-cursor {
    font-size: $h2-font-size;
    animation: blink 1s infinite;
}
//================================-Animations-================================

//-----------------------------------Blink------------------------------------
@keyframes blink {
0% {
        opacity: 0;
    }
50% {
        opacity: 1;
    }
100% {
        opacity: 0;
    }
}

