//=================================-Imports-==================================
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";
@import "../../../styles/global-style";

//==================================-Styles-==================================

profile {
    width: 100%;
    //max-height: 100vh;
    //overflow: auto;
    @include flex(center, center, column);
    padding-top: calc-size(1, 0, 0);
    main {
        width: 100%;
        height: 100%;
        @include flex(center, center, column);
    }
    //------------------------------Headline-Section------------------------------
    #headline-section {
        @include flex(center, center, column);
        background-image: url("angular/assets/images/alt_default_banner.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        padding: $one-percent 0;
        margin: $one-percent 0;
        @extend %console-box-shadow;
        border : {
            top: $thinnest-border solid $alabaster-stone;
            bottom: $thinnest-border solid $alabaster-stone;
        }
        //---------------------Profile-Picture-With-Name--------------------------
        #profile-picture-with-name {
            margin: $half-percent 0 0 0;
            @include flex(center, center, column);
            #profile-picture-div {
                @include flex(center, center, row);
                @include size($twelve-percent, $twelve-percent);
                border-radius: $one-half-percent;
                border: $thin-border solid $sandstone;
                #profile-picture-img {
                    @include size(100%, 100%);
                    border-radius: inherit;
                    background-color: $absolute-black;
                }
            }
            //------------------Profile-Name-And-Bio-Div--------------------------
            #profile-name-and-bio-div {
                @include flex(center, center, column);
            }
        }
        //----------------------------Buttons-Div---------------------------------
        #buttons-div {
            @include flex(space-around, center, row);
            margin: $one-percent 0 0 0;
            .profile-button {
                padding: $eighth-percent;
                border-radius: calc($quarter-percent * 0.9);
            }
        }
    }
    //------------------------------Activity-Section------------------------------
    #activity-section {
        #activity-title-div {
            @include flex(center, center, row);
            margin: $one-percent 0;
            #activity-title-text {
                color: $pristine-white;
            }
        }
        hr {
            @extend %console-box-shadow;
        }
    }
    //-----------------------------Write-Post-Section-----------------------------
    #write-post-section {
        @extend .general-write-post-div;
    }
}
@media screen and (min-width: 1225px) {
    profile {
        //padding-top: calc-size(10, 0, 2);
        //display: none;
    }
}
@media screen and (min-width: 1500px) {
    profile {
        //padding-top: calc-size(16, 0, 4);
        //display: none;
    }
}

