@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

.general-write-post-div {
    @include flex(center, center, column);
    padding: $quarter-percent;
    height: $five-percent;
    .write-post-textarea-div {
        @include flex(center, center, column);
        @include size(95%, 95%);
        @extend %no-margin-padding;
        textarea {
            @extend %fill-container;
            background-color: $charcoal;
            color: $pristine-white;
            //padding: $one-percent;
            //margin: $one-percent $zero $half-percent $zero;
            resize: none;
        }
    }
}