@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

messages-section-title {
    width: 100%;
    @include flex(center, center, column);
    color: $pristine-white;
    hr {
        width: 100%;
    }
}