<div class="general-post-comment-input-div" *ngIf="isOpened">
    <general-post-button
            [buttonType]="GeneralPostButtonType.COMMENT"
            [clickResponse]="GeneralPostButtonClickResponse.QUICK_RELEASE"
            [elementSize]="ElementSize.MEDIUM"
            [showNumberInteractions]="false"
            (click)="sendPostToServer()"/>
    <general-post-button
            [buttonType]="GeneralPostButtonType.CANCEL"
            [clickResponse]="GeneralPostButtonClickResponse.QUICK_RELEASE"
            [elementSize]="ElementSize.MEDIUM"
            [showNumberInteractions]="false"
            (click)="closeCommentInput()"/>
    <console-textbox (textChanged)="handleTextChange($event)"/>
</div>
<console-popup [@fade] *ngIf="postPopup" [popup]="postPopup" [elementSize]="ElementSize.SMALL"/>
